:root {
    --primary-color: #0046ff;
    --secondary-color: #E0F4FF;
    --third-color: #fff;
    --text-color: #222222;
    --secondary-text-color: #6e6d7a;
    --success-color: #4daa57;
    --reject-color: #ff0000;
    --third-text-color: #83A2FF;
    --pending: #FFB000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: poppins; */
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.tickettop {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.raiseticket {
    height: 30px;
    padding: 0px 10px;
    margin-top: 10px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 15px;
    border: none;
}

.top-lineflex-support {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 48% 27% 25%;
    justify-content: space-between
}

.label--tls {
    display: flex;
    flex-direction: column;
}

#subject,
#callback,
#typequery {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FEFEFE;
    padding: 10px;
}

#common-padding-tls {
    margin-left: 5px;
    margin-bottom: 5px;
    color: #30343F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

#desc-area {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FEFEFE;
    padding: 10px;
    outline: none;
}

.resolve-my-query {
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color);
    padding: 10px 10px;
    color: var(--secondary-color);

}

.raiseaticket {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btn-raisemyquery {
    display: flex;
    gap: 10px;
    /* margin-top: 30px; */
}

.cancel-raisemyquery {
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    background-color: var(--third-color);
    padding: 10px 10px;
    color: var(--primary-color);
}

.table-ticket-thead {
    width: 100%;
}

.table-containcover-ticket {
    width: 100%;
    overflow: auto;
    overflow: overlay;
    border-radius: 15px;
    /* background-color: #fffb; */
}

thead {
    /* background-color: rgba(128, 128, 128, 0.326); */
    /* border-radius: 15px; */
    background-color: var(--primary-color);
    color: white;
}

table {
    width: 100%;
    font-weight: 500;
    background-color: #fff9;
    padding: 10px 5px;
    border-radius: 15px;
}

.thtr-ticket th {
    font-weight: 500;
    position: sticky;
}

.tdtr-ticket td {
    font-weight: 500;
    /* position: sticky; */
    text-align: center;
}

.table-ticket-tbody tr:nth-of-type(even) {
    background-color: var(--secondary-color);
    border-collapse: collapse;
    /* Adjust the alpha (opacity) value as needed */

}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

.table-ticket-tbody tr {
    border-collapse: collapse;
}


table,
th,
td {
    border-collapse: collapse;
    padding: 1rem .5rem;
    /* text-align: left; */
    /* border-radius: 15px; */
}

table {
    border-radius: 15px;
}

#first-tdthh {
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pending-table {
    background-color: var(--pending);
    padding: 5px 10px;
    border: none;
    color: var(--third-color);
    border-radius: 10px;
    text-transform: capitalize;

}

.responded-table {
    background-color: var(--success-color);
    padding: 5px 10px;
    border: none;
    color: var(--third-color);
    border-radius: 10px;
    text-transform: capitalize;
}

.deleteticketArr {
    padding: 5px 10px;
    background-color: var(--reject-color);
    border: none;
    border-radius: 15px;
    color: white;
}

.raiseaticket {
    margin-bottom: 50px;
}